<body class="body-notes-index">     
  <!-- <p id="notice"><%= notice %></p> -->

  <div class="notes-index-left">
    <div class="new-note-index">
      <%= form_for(@note) do |f| %>
        <% if @note.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

            <ul>
            <% @note.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>  

        <div class="field-new-note">          
          <%= f.text_area :content, placeholder: "New note", :class => 'new-note-text-area' %>   
        </div>

        <div class="tags-and-submit">
          <div class="field-new-note-tags">
            <%= label_tag :tags %>
            <p class="tag-notes-index">
              <% Tag.all.each do |tag| %>
                
                  <% is_checked = @note.tag_ids.include? tag.id %>
                  <%= check_box_tag "note[tags][]", tag.id, is_checked %>
                  <button class="tiny"><%= tag.title %></button>
                
              <% end %>
            </p>
          </div> 
          <div class="actions-create-note">     
            <%= f.submit %>
          </div>
        </div>
      <% end %>
    </div>

    <ul class="notes-index-ul">
      <% @notes.reverse_each do |note| %> 
    
        <button class="notes-index-button">                       

            <ul class="ul-row1-notes-index"> 
              <li class="li-notes-profile-img"><%= image_tag note.user.profile_image.url, :class => 'notes-profile-img' %></li>  
              <li class="li-notes-user-first-name"><%= note.user.first_name %></li>
              <li class="li-notes-user-last-name"><%= note.user.last_name %></li>
              <li class="li-notes-user-username"><%= link_to note.user.username, note.user, :class => 'link-notes-user-username' %></li>                
            </ul>

            <div class="row2-notes-content">
              <p class="p-notes-content"><%= note.content %></p>      
            </div>

            <div class="row3-notes-created-at">
              <li class="li-notes-created-at"><%= note.created_at %></li>
            </div>
            
            <ul class="ul-row4-notes-index">
              <li class="li-c-n-index"><%= link_to 'Comment', note, :class => 'link-c-n-index' %></li>
              
              <% if can? :update, note %>
                <li class="li-e-n-index"><%= link_to 'Edit', edit_note_path(note), :class => 'link-e-n-index' %></li>
              <% end %>
              
              <% if can? :destroy, note %>
                <li class="li-d-n-index"><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'link-d-n-index' %></li>
              <% end %>
              
              <!-- if a user clicks on a save button he will apply .favourite method -->
            
              <li class="li-s-n-index"><%= link_to 'Save', favorites_path(@favorite), :class => 'link-s-n-index' %></li>
              <li class="li-s-n-index"><%= link_to 'Like', like_note_path(note), method: :put, :class => 'link-s-n-index' %></li>
              <%= note.get_likes.size %>
              <li class="li-s-n-index"><%= link_to 'Dislike', dislike_note_path(note), method: :put, :class => 'link-s-n-index' %></li>
              <%= note.get_dislikes.size %>


              <!-- link_to 'like', like_idea_path(@idea), method: :put, class: "button tiny" -->
              
            </ul>
         
        </button>
    
      <% end %>
    </ul>
    <br>
  </div>

  <div class="notes-index-right">

    <li class="bundle-users">Bundle has</li>
  
    <ul class="ul-users-n-index">
      <% @users.each do |user| %>   

        <button class="button-users-n-index">    
          
          <ul class="ul-row1-button-users-n-index">
            
            <li class="li-users-image-n-index"><%= image_tag user.profile_image.url, :class => "link-users-image-n-index" %></li>
            <li class="li-users-username-n-index"><%=link_to user.username, user, :class => "link-users-username-n-index" %></li>    
            
        </button>

      <% end %>
    </ul>
  </div>  


</body>

