<body>
  <!-- <p id="notice"><%= notice %></p> -->

  <div class="notes-index-left">
    <div class="new-note-index">
      <%= form_for(@note) do |f| %>
        <% if @note.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

            <ul>
            <% @note.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field-new-note">          
          <%= f.text_area :content, placeholder: "New note", :class => 'new-note-text-area' %>   
        </div>

        <div class="tags-and-submit">
          <div class="field-new-note-tags">
            <%= label_tag :tags %>
            <p class="tag-notes-index">
              <% Tag.all.each do |tag| %>
                
                  <% is_checked = @note.tag_ids.include? tag.id %>
                  <%= check_box_tag "note[tags][]", tag.id, is_checked %>
                  <button class="tiny"><%= tag.title %></button>
                
              <% end %>
            </p>
          </div>
          <div class="actions-create-note">
            <%= f.submit %>
          </div>
        </div>
      <% end %>
    </div>

    <ul class="notes-index-ul">
      <% @notes.reverse_each do |note| %> 
    
        <button class="notes-index-button">   
          
          
            <ul class="ul-row1-notes-index"> 
              <li class="li-notes-profile-img"><%= image_tag note.user.profile_image.url, :class => 'notes-profile-img' %></li>  
              <li class="li-notes-user-name"><%= note.user.first_name %></li>
              <li class="li-notes-user-name"><%= note.user.last_name %></li>
              <li class="li-notes-user-username"><%= link_to note.user.username, note.user %></li>              
              
            </ul>

            <div class="row2-notes-content">
              <p class="p-notes-content"><%= note.content %></p>      
            </div>

            <div class="note-created-at">
              <li><%= note.created_at %></li>
            </div>
            
            <ul>
              <li class="c-n-index"><%= link_to 'Comment', note, :class => 'c-e-d-n-index' %></li>
              <% if can? :update, note %>
              <li class="c-e-d-n-index"><%= link_to 'Edit', edit_note_path(note), :class => 'c-e-d-n-index' %></li>
              <% end %>
              <% if can? :destroy, note %>
              <li class="c-e-d-n-index"><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'c-e-d-n-index' %></li>
              <% end %>
            </ul>
          
          

         
        </button>
    
      <% end %>
    </ul>
    <br>
  </div>

  <div class="notes-index-right">
    <ul class="notes-index-users-ul">
      <% @users.each do |user| %>   
        <button class="notes-index-users-button"><%= link_to 'Show', user %>    
          <li><%= image_tag user.profile_image.url %></li>
          <li><%= user.first_name %><%= user.last_name %></li>                  
        </button>
      <% end %>
    </ul>
  </div>

</body>

