<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @note.user.username %>
</p>

<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @note.tags.map{ |tag| "##{tag.name}"}.join(", ") %>
</p>

<ul>
  <h2> Comments </h2>
  <% @note.comments.each do |comment| %>
    <h3><%= comment.user.username %></h3>          
    <h5><%= comment.created_at %></h5>
    <p><%= comment.content %></p>
    <li><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  <% end %>
</ul>

<h2> Create Comment </h2>
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :note_id, value: @note.id %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
