<body class="body-notes-index">     
<p id="notice"><%= notice %></p>
  
  
  <% @favorites.each do |favorite| %>
      
      <li><%= favorite.title %></li>
      <li><%= link_to 'Show', favorite %></li>
      <li><%= link_to 'Edit', edit_favorite_path(favorite) %></li>
      <li><%= link_to 'Destroy', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></li>
   
  <% end %>
  

<br>

<%= link_to 'New Favorite', new_favorite_path %>
</body>

<%= form_for(@favorite) do |f| %>
  <% if @favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favorite.errors.count, "error") %> prohibited this favorite from being saved:</h2>

      <ul>
      <% @favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, value: @user.id %>
  </div>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




















